<h2 mat-diaglog-title class="text-center">Proposal Details</h2>


<mat-dialog-content>
  <div class="container dialog-wrapper">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-3"><small class="color-secondaryVariant" for="">Request form from :</small></div>
      <div class="col-md-7"> {{tempo.ui_Fname}} {{tempo.ui_Mname}} {{tempo.ui_Lname}}</div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-3"><small class="color-secondaryVariant" for="">Project Title :</small></div>
      <div class="col-md-7">
<h4 class="color-accent">{{tempo.proposal_title}}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-3"><small class="color-secondaryVariant" for="">College :</small></div>
      <div class="col-md-7"> {{tempo.ui_college}} </div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-3 align-middle"><small class="color-secondaryVariant" for="">Event Partner :</small></div>
      <div class="col-md-7">
        <small class="color-secondaryVariant">College</small> <br>
        <p>Proposal Submission</p>
        <small class="color-secondaryVariant">External Partner</small> <br>
        <p>Proposal Submission</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-3"><small class="color-secondaryVariant" for="">Target Benificiary:</small></div>
      <div class="col-md-7"> {{tempo.proposal_beneficiaries}} </div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-3"><small class="color-secondaryVariant" for="">Gender of Benificiary :</small></div>
      <div class="col-md-7"> {{tempo.proposal_bene_gender}} </div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-3"><small class="color-secondaryVariant" for="">Event Venue :</small></div>
      <div class="col-md-7"> {{tempo.proposal_venue}} </div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-3 align-middle"><small class="color-secondaryVariant" for="">Date :</small></div>
      <div class="col-md-7">
        <small class="color-secondaryVariant">Start</small> <br>
        <p>{{tempo.proposal_date_start}}</p>
        <small class="color-secondaryVariant">End</small> <br>
        <p>{{tempo.proposal_date_end}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-3"><small class="color-secondaryVariant" for="">Attached File:</small></div>
      <div class="col-md-7"> <a href="#"><u>Proposal101.pdf</u></a></div>
    </div>
  </div>
  <!--End wrapper -->
</mat-dialog-content>

<mat-dialog-actions>
  <div class="container Form-action-wrapper">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-9">
        <button mat-raised-button mat-dialog-close color="warn" class="form-control">Close</button>
      </div>
    </div>
  </div>
</mat-dialog-actions>
