
//modal style

.container.dialog-wrapper,
.container.Form-action-wrapper {
  width: 70%;
}

.container.Form-action-wrapper {
  text-align: center;
}

.col-md-3.align-middle {
  padding: 5% 15px;
}

.dialog-wrapper {
  .row {
    padding-bottom: 30px;
  }
}

//forms style

.mat-form-field {
  width: 100% !important;
}

// ::ng-deep .mat-horizontal-stepper-header {
//   pointer-events: none !important;
// }