//modal style

.container.dialog-wrapper,
.container.Form-action-wrapper {
  width: 70%;
}

.mat-stepper-horizontal {
  background-color: unset !important;
}

.container.Form-action-wrapper {
  text-align: center;
}

.col-md-3.align-middle {
  padding: 5% 15px;
}

.dialog-wrapper {
  .row {
    padding-bottom: 30px;
  }
}

mat-dialog-content.mat-dialog-content {
  min-height: 414.391px !important;
}

//forms style
.mat-form-field {
  width: 100% !important;
}

//check box
.gender-box {
  padding: 5px;
}

::ng-deep .checklist .mat-checkbox {
  width: 100%;
  display: inline-block !important;
}

//button start-end
button.start-end {
  width: 124px !important;
}

// table style
#contentToConvert {
  table {
    width: 815px !important;
  }
}
