<div class="dialog-section">
  <h4 mat-diaglog-title class="text-center">Proposal Details</h4>


<mat-dialog-content>
  <div class="container dialog-wrapper">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-3"><small class="color-secondaryVariant" for="">Request form from :</small></div>
      <div class="col-md-7"> {{tempo.ui_Fname}} {{tempo.ui_Mname}} {{tempo.ui_Lname}}</div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-3"><small class="color-secondaryVariant" for="">Project Title :</small></div>
      <div class="col-md-7">
<h4 class="color-accent">{{tempo.proposal_title}}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-3"><small class="color-secondaryVariant" for="">College :</small></div>
      <div class="col-md-7"> {{tempo.ui_college}} </div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-3 align-middle"><small class="color-secondaryVariant" for="">Event Partner :</small></div>
      <div class="col-md-7">
        <small class="color-secondaryVariant">College</small> <br>
        <p>Proposal Submission</p>
        <small class="color-secondaryVariant">External Partner</small> <br>
        <p>Proposal Submission</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-3"><small class="color-secondaryVariant" for="">Target Benificiary:</small></div>
      <div class="col-md-7"> {{tempo.proposal_beneficiaries}} </div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-3"><small class="color-secondaryVariant" for="">Gender of Benificiary :</small></div>
      <div class="col-md-7"> {{tempo.proposal_bene_gender}} </div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-3"><small class="color-secondaryVariant" for="">Event Venue :</small></div>
      <div class="col-md-7"> {{tempo.proposal_venue}} </div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-3 align-middle"><small class="color-secondaryVariant" for="">Date :</small></div>
      <div class="col-md-7">
        <small class="color-secondaryVariant">Start</small> <br>
        <p>{{tempo.proposal_date_start}}</p>
        <small class="color-secondaryVariant">End</small> <br>
        <p>{{tempo.proposal_date_end}}</p>
        </div>
        </div>
        <div class="row">
          <div class="col-md-5"><small class="color-secondaryVariant" for="">Attached File :</small></div>
<div class="col-md"> <a href="../../../assets/uploaded_files/CITC/IT/5.0.1.2-How-Much-Does-This-Cost-Instructions.pdf" target="_blank"><u>{{tempo.proposal_directory}}</u></a></div>
      </div>
    </div>
    <!--End wrapper -->
  </mat-dialog-content>

<mat-dialog-actions>
  <div class="container Form-action-wrapper">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-9">
        <div *ngIf="approved">
          <button mat-raised-button mat-dialog-close color="warn" class="form-control">Close</button>
        </div>
        <div *ngIf="pending">
          <button mat-button color="warn" (click)="verdict(2)">Deny</button>
          <button mat-raised-button color="primary" (click)="verdict(1)">Accept</button>
        </div>
      </div>
      </div>
    </div>
  </mat-dialog-actions>
</div>
