// CONTENT STYLE

section.container-fluid {
  padding: 15px 62px 15px 42px;
}

.row {
  // margin: 0 -7.5px 0 -7.5px;

  div {
    padding: 0 7.5px 0 7.5px;
  }
}

// check box
.checkboxes{
  .checkboxes-margin {
    margin: 0 10px;
  }
}
