<section class="container-fluid activities">
    <div class="row">
      <div class="col-md-12">
        <h3>Your History</h3>
        <mat-card class="notification">
          <mat-list role="list" class="container-fluid">
            <mat-list-item role="listitem" class="row">
  
              <div class="col-md-4">
                CITC: Proposal Submission
              </div>
              <div class="col-md-4">27 / Dec / 2019</div>
              <div class="col-md-4 text-right">
                <button mat-icon-button [matMenuTriggerFor]="appMenu">
                  <mat-icon>more_vert</mat-icon>
                </button>
  
                <mat-menu #appMenu="matMenu">
                  <button mat-menu-item><small>Read</small></button>
                  <button mat-menu-item><small>Remove</small></button>
                </mat-menu>
              </div>
            </mat-list-item>
            <mat-list-item role="listitem" class="row">
  
              <div class="col-md-4">
                CITC: Proposal Submission
              </div>
              <div class="col-md-4">27 / Dec / 2019</div>
              <div class="col-md-4 text-right">
                <button mat-icon-button [matMenuTriggerFor]="appMenu">
                  <mat-icon>more_vert</mat-icon>
                </button>
  
                <mat-menu #appMenu="matMenu">
                  <button mat-menu-item><small>Read</small></button>
                  <button mat-menu-item><small>Remove</small></button>
                </mat-menu>
              </div>
            </mat-list-item>
          </mat-list>
        </mat-card>
  
      </div>
    </div>
  </section>
  