<h4 mat-diaglog-title class="text-center">File Details</h4>

<mat-dialog-content>
  <div class="container dialog-wrapper">
    <div class="row">
      <div class="col-md-4"><small class="color-secondaryVariant" for="">Project Title :</small></div>
      <div class="col-md"> <p class="color-accent">CITC: Proposal Submission</p> </div>
    </div><!-- end row -->

    <div class="row">
      <div class="col-md-4"><small class="color-secondaryVariant" for="">Attached File :</small></div>
      <div class="col-md"> <p class="color-secondary text-regular-14">Filename.pdf</p> </div>
    </div><!-- end row -->
  </div><!-- end wrapper -->
</mat-dialog-content>

<mat-dialog-actions>
  <div class="container Form-action-wrapper">
    <div class="row">
      <div class="col-md text-right">
        <button mat-button mat-dialog-close>Close</button>
        <button mat-raised-button mat-dialog-close color="primary" (click)="showWarning()">Download</button>
      </div>
    </div>
  </div>
</mat-dialog-actions>