<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'side' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-toolbar>
      <div class="brand"> <a routerLink='dashboard'> <img src="../../assets/img/logo.png" alt=""></a></div>
    </mat-toolbar>
    <mat-nav-list>
      <a (click)="check_notifs" mat-list-item routerLink='dashboard' routerLinkActive="active"><i class="fas fa-home"></i><span>Dashboard</span></a>
      <a (click)="check_notifs" mat-list-item routerLink='notification' routerLinkActive="active"><i class="far fa-bell"></i><span>Notification<span *ngIf = "hasNotif">({{notif_count}})</span></span></a>
      <a (click)="check_notifs" mat-list-item routerLink='records' routerLinkActive="active"><i class="fas fa-list-ul"></i><span>Records</span></a>
      <a (click)="check_notifs" mat-list-item routerLink='activites' routerLinkActive="active"><i class="fas fa-history"></i><span>Activities</span></a>
      <a (click)="check_notifs" mat-list-item routerLink='assesment' *ngIf="isAdmin" routerLinkActive="active"><i class="fas fa-clipboard-list"></i><span>Assesment</span></a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <mat-toolbar-row>
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
          <!--*ngIf="isHandset$ | async" -->
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span class="flex-block"></span>

        <div class="user-type">
          <button (click)="unblink()" mat-icon-button [matMenuTriggerFor]="notif" class="notif-icon">
            <i class="far fa-bell myfont"></i>
            <span *ngIf="hasNotif" class="notif-badge">{{notif_count}}</span>
          </button>
          <span *ngIf="isAdmin">Admin</span>
          <span *ngIf = "isUser">User</span>
          <button mat-icon-button [matMenuTriggerFor]="appMenu">
            <div class="avatar">
              <i class="fas fa-camera" style="color:#fff;"></i>
            </div>
            <mat-icon>more_vert</mat-icon>
          </button>

          <mat-menu #appMenu="matMenu">
            <!-- Account settings -->
            <button mat-menu-item (click)="showSettings()">Settings</button>
            <button mat-menu-item (click)="logout()">Sign Out</button>
          </mat-menu>

          <mat-menu class="notif" #notif="matMenu">
            <mat-list role="list">
              <button mat-menu-item *ngFor="let read of unread">
                <mat-list-item role="listitem"><small>{{read.ui_Fname}} | {{read.notif_type_id}}</small></mat-list-item>
              </button>
              <button mat-menu-item *ngFor="let read of read">
                <mat-list-item role="listitem"><small>{{read.ui_Fname}} | {{read.notif_type_id}}</small></mat-list-item>
              </button>
            </mat-list>
            <div class="container more">
              <div class="row">
                <button routerLink='notification' mat-menu-item>
                  <div class="col-md text-center"><small>more</small></div>
                </button>
              </div>
            </div>
          </mat-menu>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>


    <router-outlet></router-outlet>
    <!-- Display page output -->
  </mat-sidenav-content>
</mat-sidenav-container>
