<section *ngIf="showPage" class="container-fluid">
  <div class="row">

    <!-- we use mat-card and div -->
    <div class="col-md-4 login-card">
      <mat-card>
        <h2 class="text-center">LOGIN</h2>

        <div class="form-wrapper">
          <form name="form" [formGroup]="loginVal">
            <mat-form-field floatLabel="auto">
              <mat-label>Username</mat-label>
              <input [(ngModel)]="username" formControlName="loginUser" matInput placeholder="Username">
            </mat-form-field>
            <mat-form-field floatLabel="auto">
              <mat-label>Password</mat-label>
              <input [(ngModel)]="password" type="password" formControlName="loginPass" matInput placeholder="Password">
            </mat-form-field>

            <button mat-stroked-button class="btn-login" (click)="login_user()" [disabled]="!loginVal.valid">Log in</button>
            <a mat-button routerLink="/register" class="btn-reg">Register</a>
          </form>
        </div>
      </mat-card>
    </div>
  </div>
</section>

<section *ngIf="showSpinner" app-data-spinner></section>
