<h2 mat-diaglog-title class="text-center">Proposal</h2>


<mat-dialog-content>
  <div class="form-wrapper">
    <mat-form-field floatLabel="auto">
      <mat-label>Title</mat-label>
      <input [(ngModel)] = "title" type="text" matInput>
    </mat-form-field>

    <mat-form-field>
      <input [(ngModel)] = "sdate" matInput [matDatepicker]="start" placeholder="Start Date">
      <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
      <mat-datepicker #start></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input [(ngModel)] = "edate" matInput [matDatepicker]="end" placeholder="End Date">
      <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
      <mat-datepicker #end></mat-datepicker>
    </mat-form-field>

    <mat-form-field floatLabel="auto">
      <mat-label>Target Benificiary</mat-label>
      <input [(ngModel)] = "beneficiary" type="text" matInput>
    </mat-form-field>

    <label> Gender Benificiary </label> <br>
    <mat-radio-group [(ngModel)]="bene_gender">
      <mat-radio-button class="gender-box" value="Male">Male</mat-radio-button>
      <mat-radio-button class="gender-box" value="Female">Female</mat-radio-button>
      <mat-radio-button class="gender-box" value="Both">Both</mat-radio-button>
    </mat-radio-group>

    

    <mat-form-field floatLabel="auto">
      <mat-label>Event Partner</mat-label>
      <input [(ngModel)] = "partner" type="text" matInput>
    </mat-form-field>

    <mat-form-field floatLabel="auto">
      <mat-label>Event Venue</mat-label>
      <input [(ngModel)] = "venue" type="text" matInput>
    </mat-form-field>

    <div class="upload">
      <label>Upload File : </label><br>
      <button mat-raised-button color="primary" (click)="fileInput.click()">Upload</button>
<!-- <input hidden type="file" #fileInput (change)="getFiles($event,$event.target.files)"> -->
      <input hidden type="file" #fileInput>
      <input class="mt-2" id="fileName" type="text" placeholder="No file chosen" readonly="true" matInput>
    </div>  
  </div>

</mat-dialog-content>

<mat-dialog-actions>
  <div class="Form-action-wrapper">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-raised-button (click)="save()">Submit</button>
  </div>
</mat-dialog-actions>
