<button class="close" mat-dialog-close>
   <i class="fas fa-times"></i>
</button>
<h2 mat-diaglog-title class="text-center">Proposal</h2>

<div>
  <form name="form" [formGroup]="submitProposal">
    <mat-dialog-content>
      <div class="form-wrapper tex-left">

        <mat-form-field floatLabel="auto">
          <mat-label>Project Title<span class="color-warn">*</span></mat-label>
          <input [(ngModel)]="title" type="text" formControlName="titleVal" matInput>
          <mat-error *ngIf="submitProposal.get('titleVal').hasError('required')">
            <small>Title is required <strong>required</strong></small>
          </mat-error>
          <mat-error *ngIf="submitProposal.get('titleVal').hasError('pattern')">
            <small>Numbers and symbols not allowed></small>
          </mat-error>
        </mat-form-field>

        <mat-radio-group [(ngModel)]="ProjType" formControlName="typeVal">
          <mat-label>Type of Project<span class="color-warn">*</span></mat-label> <br>
          <mat-radio-button class="gender-box" value="new">New</mat-radio-button>
          <mat-radio-button class="gender-box" value="continuing">Continuing</mat-radio-button>
          <mat-error *ngIf="submitProposal.get('typeVal').hasError('required')">
            <small>Project type is required <strong>required</strong></small>
          </mat-error>
        </mat-radio-group>

        <mat-form-field floatLabel="auto">
          <mat-label>Proponents<span class="color-warn">*</span> (Separate Multiple Proponents w/ commas)</mat-label>
          <textarea [(ngModel)]="proponents" cols="30" rows="10" formControlName="proponentsVal" matInput></textarea>
          <mat-error *ngIf="submitProposal.get('proponentsVal').hasError('required')">
            <small>Proponents is required <strong>required</strong></small>
          </mat-error>
          <!-- <input type="text" matInput> -->
        </mat-form-field>

        <mat-form-field floatLabel="auto">
          <mat-label>Program<span class="color-warn">*  (Separate Multiple Programs w/ commas)</span></mat-label>
          <input [(ngModel)] = "program" type="text" formControlName="programVal" matInput>
          <mat-error *ngIf="submitProposal.get('programVal').hasError('required')">
            <small>Program is required <strong>required</strong></small>
          </mat-error>
          <mat-error *ngIf="submitProposal.get('programVal').hasError('pattern')">
            <small>Numbers and symbols not allowed</small>
          </mat-error>
        </mat-form-field>

        <mat-form-field floatLabel="auto">
          <mat-label>Accreditation Level<span class="color-warn">*</span></mat-label>
          <mat-select [(ngModel)]="accre_level" formControlName="accreditationLevel" required>
            <mat-option value="Level I">Level I</mat-option>
            <mat-option value="Level II">Level II</mat-option>
            <mat-option value="Level III">Level III</mat-option>
          </mat-select>
          <mat-error *ngIf="submitProposal.get('accreditationLevel').hasError('required')">
            <small>Accreditation is required <strong>required</strong></small>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input type="month" [(ngModel)]="sdate" formControlName="sDate" matInput placeholder="Start Month">
          <mat-error *ngIf="submitProposal.get('sDate').hasError('required')">
            <small>Month is required <strong>required</strong></small>
          </mat-error>
          <!-- <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
        <mat-datepicker #start startView="year" [startAt]="startDate"></mat-datepicker> -->
        </mat-form-field>

        <mat-form-field>
          <input type="month" [(ngModel)]="edate" formControlName="eDate" matInput placeholder="End Month">
          <mat-error *ngIf="submitProposal.get('eDate').hasError('required')">
            <small>Month is required <strong>required</strong></small>
          </mat-error>
          <!-- <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
        <mat-datepicker #end startView="year" [startAt]="startDate"></mat-datepicker> -->
        </mat-form-field>

        <mat-form-field floatLabel="auto">
          <mat-label>Total Number of Hours<span class="color-warn">*</span></mat-label>
          <mat-label> Estimated Total Number of Hours<span class="color-warn">*</span></mat-label>
          <mat-select [(ngModel)]="total_hours" formControlName="tHours" required>
            <mat-option value="0.5">Less than 8 Hours</mat-option>
            <mat-option value="1"> 8 Hours</mat-option>
            <mat-option value="2">16 Hours</mat-option>
            <mat-option value="3">24 Hours</mat-option>
            <mat-option value="4">32 Hours</mat-option>
            <mat-option value="5">40 Hours</mat-option>
            <mat-option value="6">More than 40 Hours</mat-option>
          </mat-select>
          <mat-error *ngIf="submitProposal.get('tHours').hasError('required')">
            <small>Number of Hours is required <strong>required</strong></small>
          </mat-error>
          <!-- <mat-error *ngIf="submitProposal.get('tHours').hasError('pattern')">
            <small>Numbers only</small>
          </mat-error> -->
        </mat-form-field>

        <mat-form-field floatLabel="auto">
          <mat-label>Target Benificiary<span class="color-warn">*</span></mat-label>
          <input [(ngModel)]="beneficiary" type="text" formControlName="tBenificiary" matInput>
          <mat-error *ngIf="submitProposal.get('tBenificiary').hasError('required')">
            <small>Benificiary is required <strong>required</strong></small>
          </mat-error>
          <mat-error *ngIf="submitProposal.get('tBenificiary').hasError('pattern')">
            <small>Numbers and symbols not allowed</small>
          </mat-error>
        </mat-form-field>

        <label> Gender Benificiary<span class="color-warn">*</span> </label> <br>

        <mat-radio-group [(ngModel)]="bene_gender" formControlName="gBenificiary" required>
          <mat-radio-button class="gender-box" value="Male">Male</mat-radio-button>
          <mat-radio-button class="gender-box" value="Female">Female</mat-radio-button>
          <mat-radio-button class="gender-box" value="Both">Both</mat-radio-button>
          <mat-error *ngIf="submitProposal.get('gBenificiary').hasError('required')">
            <small>Gender benificiary is required <strong>required</strong></small>
          </mat-error>
        </mat-radio-group>

        <mat-form-field floatLabel="auto">
          <mat-label>Project Location<span class="color-warn">*</span></mat-label>
          <input [(ngModel)]="venue" type="text" formControlName="projectLocation" matInput>
          <mat-error *ngIf="submitProposal.get('projectLocation').hasError('required')">
            <small>Project Location is required <strong>required</strong></small>
          </mat-error>
        </mat-form-field>

        <mat-form-field floatLabel="auto">
          <mat-label>Partner Agency<span class="color-warn">*</span></mat-label>
          <input [(ngModel)]="partner" type="text" formControlName="partnerAgency" matInput>
          <mat-error *ngIf="submitProposal.get('partnerAgency').hasError('required')">
            <small>Partner Agency is required <strong>required</strong></small>
          </mat-error>
          <mat-error *ngIf="submitProposal.get('projectLocation').hasError('pattern')">
            <small>Numbers and symbols not allowed</small>
          </mat-error>
        </mat-form-field>

        <label> Budget Requirements </label>
        <mat-form-field floatLabel="auto">
          <mat-label>USTP</mat-label>
          <input [(ngModel)]="budget_ustp" type="number" matInput formControlName="budgetUSTP">
          <mat-error *ngIf="submitProposal.get('budgetUSTP').hasError('pattern')">
            <small>Numbers only</small>
          </mat-error>
        </mat-form-field>
        <mat-form-field floatLabel="auto">
          <mat-label>Partner Agency</mat-label>
          <input [(ngModel)]="budget_partner" type="number" matInput formControlName="budgetPartner">
          <mat-error *ngIf="submitProposal.get('budgetPartner').hasError('pattern')">
            <small>Numbers only</small>
          </mat-error>
        </mat-form-field>

        <div class="upload">
          <label>Proposal Document<span class="color-warn">*</span> : </label><br>
          <button mat-raised-button color="primary" (click)="fileInput.click()">Select file</button>
          <input multiple hidden type="file" #fileInput (change)="getFiles($event)" accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint, application/pdf"
            formControlName="upload">
          <input class="mt-2" id="fileName" type="text" placeholder="No file chosen" readonly="true" matInput>
          <mat-error *ngIf="submitProposal.get('upload').hasError('required')">
            <small>Proposal files is required <strong></strong> </small>
          </mat-error>

          <!-- kani if Admin sya tapos ug add Arvhive mga old projects to digitize -->
          <div *ngIf="isArchive">
            <label>MOA<span class="color-warn">*</span> : </label><br>
            <button mat-raised-button color="primary" (click)="fileInput1.click()">Select file</button>
            <input hidden type="file" #fileInput1 (change)="upload_moa($event)" accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint, application/pdf"
              formControlName="uploadMoa">
            <input class="mt-2" id="moaName" type="text" placeholder="No file chosen" readonly="true" matInput>
            <mat-error *ngIf="submitProposal.get('uploadMoa').hasError('required')">
              <small>MOA files is required <strong></strong> </small>
            </mat-error>

            <label>Proposal Cover (Signed)<span class="color-warn">*</span> : </label><br>
            <button mat-raised-button color="primary" (click)="fileInput2.click()">Select file</button>
            <input hidden type="file" #fileInput2 (change)="upload_signed($event)" accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint, application/pdf"
              formControlName="uploadPC">
            <input class="mt-2" id="signedName" type="text" placeholder="No file chosen" readonly="true" matInput
              required>
            <mat-error *ngIf="submitProposal.get('uploadPC').hasError('required')">
              <small>Signed proposal cover is required <strong></strong> </small>
            </mat-error>

            <label>Accomplishments<span class="color-warn">*</span> : </label><br>
            <button mat-raised-button color="primary" (click)="fileInput3.click()">Select file</button>
            <input hidden type="file" #fileInput3 (change)="upload_accomp($event)" accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint, application/pdf"
              formControlName="uploadAC">
            <input class="mt-2" id="accompName" type="text" placeholder="No file chosen" readonly="true" matInput>
            <mat-error *ngIf="submitProposal.get('uploadAC').hasError('required')">
              <small>Accomplishment files is required <strong></strong> </small>
            </mat-error>
          </div>
        </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <div class="Form-action-wrapper">
        <button mat-button mat-dialog-close>Cancel</button>
        <!-- for submit proposal -->
        <button *ngIf="isUserSubmit" mat-raised-button color="primary" (click)="save()">Submit</button>
        <!-- for Adding to archive -->
        <button *ngIf="isArchive" mat-raised-button color="primary" [disabled]="!submitProposal.valid">Add</button>
      </div>
    </mat-dialog-actions>
  </form>
</div>
