<h2 mat-diaglog-title class="text-center">Gnerated Report</h2>

<section *ngIf="true" id>
  <div class=" container-fluid text-right">
    <div class="row">
      <div class="col-md">
        <button mat-button (click)="generatePDF()" class="color-primary"><i class="fas fa-download"></i>
          Export as PDF</button>
      </div>
    </div>
  </div>
  <mat-dialog-content class="html2canvas-container">
    <div id="contentToConvert" *ngIf="hemis">
      <h2 mat-diaglog-title class="text-center">{{titleReport}} Report</h2>
      <div class="container-fluid py-3">
        <div class="row">
          <div class="col-md-7 text-left">
            <span>*</span> An Extension Program/Project is defined as a set of activities aimed to transfer knowledge
            or
            technology or to provide services to the community in consonance with the programs offered. The Extension
            Program is conducted not as part of academic requirement but as an outreach towards the improvement of the
            community's
            quality of life. Please attach Board Action/Resolutioon approving the Extension Program and/or
            Citation/Recognition Received. For Program/Project Components or activities not specified in the approved
            Board
            Action/Resolution, please attach budget indication such.
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm">
            <table class="table table-bordered table-striped table-sm text-center color-secondary">
              <thead>
                <tr>
                  <th scope="col" rowspan="2" class="color-accent">TITLE</th>
                  <th scope="col" rowspan="2" class="color-accent">Keyword/s</th>
                  <th scope="col" rowspan="2" class="color-accent">Duration / Number of Hours</th>
                  <th scope="col" rowspan="2" class="color-accent">Number of Trainees/ Beneficiaries</th>
                  <th scope="col" colspan="3" class="color-accent">Citation / Recognition Received</th>
                </tr>
                <tr>
                  <th>Title</th>
                  <th>Conferring Agency or Body</th>
                  <th>Year Received</th>
                </tr>
              </thead>
              <tbody>

                <tr>
                  <td scope="row">Bookkeeping Training</td>
                  <td></td>
                  <td>January 14 / February 11 & 18, 2018</td>
                  <td>91</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td scope="row">Bookkeeping Training</td>
                  <td></td>
                  <td>January 14 / February 11 & 18, 2018</td>
                  <td>91</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td scope="row">Bookkeeping Training</td>
                  <td></td>
                  <td>January 14 / February 11 & 18, 2018</td>
                  <td>91</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td scope="row">Bookkeeping Training</td>
                  <td></td>
                  <td>January 14 / February 11 & 18, 2018</td>
                  <td>91</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td scope="row">Bookkeeping Training</td>
                  <td></td>
                  <td>January 14 / February 11 & 18, 2018</td>
                  <td>91</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td scope="row">Bookkeeping Training</td>
                  <td></td>
                  <td>January 14 / February 11 & 18, 2018</td>
                  <td>91</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td scope="row">Bookkeeping Training</td>
                  <td></td>
                  <td>January 14 / February 11 & 18, 2018</td>
                  <td>91</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td scope="row">Bookkeeping Training</td>
                  <td></td>
                  <td>January 14 / February 11 & 18, 2018</td>
                  <td>91</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td scope="row">Bookkeeping Training</td>
                  <td></td>
                  <td>January 14 / February 11 & 18, 2018</td>
                  <td>91</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td scope="row">Bookkeeping Training</td>
                  <td></td>
                  <td>January 14 / February 11 & 18, 2018</td>
                  <td>91</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td scope="row">Bookkeeping Training</td>
                  <td></td>
                  <td>January 14 / February 11 & 18, 2018</td>
                  <td>91</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td scope="row">Bookkeeping Training</td>
                  <td></td>
                  <td>January 14 / February 11 & 18, 2018</td>
                  <td>91</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td scope="row">Bookkeeping Training</td>
                  <td></td>
                  <td>January 14 / February 11 & 18, 2018</td>
                  <td>91</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td scope="row">Bookkeeping Training</td>
                  <td></td>
                  <td>January 14 / February 11 & 18, 2018</td>
                  <td>91</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td scope="row">Bookkeeping Training</td>
                  <td></td>
                  <td>January 14 / February 11 & 18, 2018</td>
                  <td>91</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td scope="row">Bookkeeping Training</td>
                  <td></td>
                  <td>January 14 / February 11 & 18, 2018</td>
                  <td>91</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div> <!-- end of pdf container -->

    <div id="contentToConvert" *ngIf="prexc">
      <h2 mat-diaglog-title class="text-center">{{titleReport}} Report</h2>
      <div class="container-fluid py-3">
        <div class="row">
          <div class="col-sm">
            <table class="table table-bordered table-striped table-sm text-center color-secondary">
              <thead>
                <tr>
                  <th scope="col" rowspan="2" class="color-accent">TITLE</th>
                  <th scope="col" rowspan="2" class="color-accent">Keyword/s</th>
                  <th scope="col" rowspan="2" class="color-accent">Duration / Number of Hours</th>
                  <th scope="col" rowspan="2" class="color-accent">Number of Trainees/ Beneficiaries</th>
                  <th scope="col" colspan="3" class="color-accent">Citation / Recognition Received</th>
                </tr>
                <tr>
                  <th>Title</th>
                  <th>Conferring Agency or Body</th>
                  <th>Year Received</th>
                </tr>
              </thead>
              <tbody>

                <tr>
                  <td scope="row">Bookkeeping Training</td>
                  <td></td>
                  <td>January 14 / February 11 & 18, 2018</td>
                  <td>91</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td scope="row">Bookkeeping Training</td>
                  <td></td>
                  <td>January 14 / February 11 & 18, 2018</td>
                  <td>91</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td scope="row">Bookkeeping Training</td>
                  <td></td>
                  <td>January 14 / February 11 & 18, 2018</td>
                  <td>91</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td scope="row">Bookkeeping Training</td>
                  <td></td>
                  <td>January 14 / February 11 & 18, 2018</td>
                  <td>91</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td scope="row">Bookkeeping Training</td>
                  <td></td>
                  <td>January 14 / February 11 & 18, 2018</td>
                  <td>91</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td scope="row">Bookkeeping Training</td>
                  <td></td>
                  <td>January 14 / February 11 & 18, 2018</td>
                  <td>91</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td scope="row">Bookkeeping Training</td>
                  <td></td>
                  <td>January 14 / February 11 & 18, 2018</td>
                  <td>91</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td scope="row">Bookkeeping Training</td>
                  <td></td>
                  <td>January 14 / February 11 & 18, 2018</td>
                  <td>91</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td scope="row">Bookkeeping Training</td>
                  <td></td>
                  <td>January 14 / February 11 & 18, 2018</td>
                  <td>91</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td scope="row">Bookkeeping Training</td>
                  <td></td>
                  <td>January 14 / February 11 & 18, 2018</td>
                  <td>91</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td scope="row">Bookkeeping Training</td>
                  <td></td>
                  <td>January 14 / February 11 & 18, 2018</td>
                  <td>91</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td scope="row">Bookkeeping Training</td>
                  <td></td>
                  <td>January 14 / February 11 & 18, 2018</td>
                  <td>91</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td scope="row">Bookkeeping Training</td>
                  <td></td>
                  <td>January 14 / February 11 & 18, 2018</td>
                  <td>91</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td scope="row">Bookkeeping Training</td>
                  <td></td>
                  <td>January 14 / February 11 & 18, 2018</td>
                  <td>91</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td scope="row">Bookkeeping Training</td>
                  <td></td>
                  <td>January 14 / February 11 & 18, 2018</td>
                  <td>91</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td scope="row">Bookkeeping Training</td>
                  <td></td>
                  <td>January 14 / February 11 & 18, 2018</td>
                  <td>91</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div> <!-- end of pdf container -->

    <div *ngIf="bar">
      
      <div class="container-fluid py-3">
        <div class="row">
          <div class="col-sm table-responsive-xl">
            <!-- table table-striped table-sm text-center color-secondary -->
            <table id="contentToConvert" class="table table-bordered table-striped table-sm text-center color-secondary">
              <thead>
                <tr>
                  <th colspan="13"><h2 mat-diaglog-title class="text-center">{{titleReport}} Report</h2></th>
                </tr>
                <tr>
                  <th rowspan="2" class="color-accent">Particulars</th>
                  <th colspan="5" class="color-accent">Physical Target</th>
                  <th colspan="5" class="color-accent">Physical Accomplishments</th>
                  <th rowspan="2" class="color-accent">Variance as of October 2018</th>
                  <th rowspan="2" class="color-accent">% Accomplishment</th>
                </tr>
                <tr>
                  <td>1st Quarter</td>
                  <td>2nd Quarter</td>
                  <td>3rd Quarter</td>
                  <td>4th Quarter</td>
                  <td>Total</td>
                  <td>1st Quarter</td>
                  <td>2nd Quarter</td>
                  <td>3rd Quarter</td>
                  <td>OCTOBER</td>
                  <td>Total</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>3</td>
                  <td>4</td>
                  <td>5</td>
                  <td>6</td>
                  <td>7(3+4+5+6)</td>
                  <td>8</td>
                  <td>9</td>
                  <td>10</td>
                  <td>11</td>
                  <td>7(3+4+5+6)</td>
                  <td>13</td>
                  <td>14</td>
                </tr>
                <tr>
                  <td rowspan="2">TECHNICAL ADVISORY EXTENSION PROGRAM <br> Outcome Indicators:</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>1. Number of active Partnership with LGUs, industries, NGOs, NGAs, SMEs, and other stakeholders
                    as a result of extension activities.</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>106%</td>
                </tr>
                <tr>
                  <td>Output Indicators:</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>1. Number of trainees weighted by the length of training</td>
                  <td>738</td>
                  <td>2916</td>
                  <td>2916</td>
                  <td>2915.50</td>
                  <td>7,325.50</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>56%</td>
                </tr>
                <tr>
                  <td>2. Number of extension programs organized and supported consistent with the SUC's mandated and
                    priority programs</td>
                  <td></td>
                  <td>1</td>
                  <td>2</td>
                  <td>2</td>
                  <td>5</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>100%</td>
                </tr>
                <tr>
                  <td>3. Percentage of beneficiaries who rate the training course/s and advisory services as
                    satisfactory or higher in terms of quality and relevance</td>
                  <td>98.50%</td>
                  <td>98.50%</td>
                  <td>98.50%</td>
                  <td>98.50%</td>
                  <td>98.50%</td>
                  <td>100% <br> (292/292)</td>
                  <td>98.75% <br> (689/693)</td>
                  <td>100% <br> (509/509)</td>
                  <td>100% <br> (242/242)</td>
                  <td>99.73% <br> (1732/1736)</td>
                  <td></td>
                  <td>100%</td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>100%</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div> <!-- end of pdf container -->
  </mat-dialog-content>
</section>

<mat-dialog-actions>
  <div class="Form-action-wrapper">
    <button mat-button mat-dialog-close><u>Close</u></button>
  </div>
</mat-dialog-actions>
