
section {
  padding-top: 32px;
}

table {

  -webkit-box-shadow: 0px 5px 8px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 5px 8px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 8px 2px rgba(0, 0, 0, 0.2);

  th,
  td {
    vertical-align: middle;
    font-size: 72%;
  }
}

.Form-action-wrapper {
  width: 100%;
  text-align: right;
}

.bold{
  font-weight: bold;
}

// signatories line
.line {
  width: 100%;
  border-bottom: 1px solid #0000;
  margin-right: 16px;

  .mat-form-field {
    width: 300px !important;
  }
}