<div class="dialog-section">
  <h4 mat-diaglog-title class="text-center color-accent">Account Settings</h4>

  <mat-dialog-content>
    <div class="container py-5 color-primary">
      <div class="row Profile-Picture">
        <div class="col-md text-center">
          <div class="avatar text-center">
            <span><i class="fas fa-camera" style="color:#fff;"></i></span>
          </div>
          <small> <a class="color-secondaryVariant" href="#">Change Photo</a> </small>
        </div>
      </div>
      <div class="row">
        <div class="col-md text-center py-5">
          <h5> My Profile </h5>
        </div>
      </div>
      <!-- Name -->
      <div class="row py-2">
        <div class="col-md-5">
          <span class="color-secondaryVariant" for="">Name :</span>
        </div>
        <div class="col-md">
          <span> {{data.ui_Fname}} {{data.ui_Mname}} {{data.ui_Lname}} </span>
        </div>
      </div>
      <!-- Username -->
      <div class="row py-2">
        <div class="col-md-5">
          <span class="color-secondaryVariant" for="">Username :</span>
        </div>
        <div class="col-md"> {{data.ui_school_id}}</div>
      </div>
      <!-- passwword -->
      <div class="row py-2">
        <div class="col-md-5 my-auto">
          <span class="color-secondaryVariant " for="">Password :</span>
        </div>
        <div class="col-md my-auto">
          <span *ngIf="passEdit;else passInput" >---</span>
          <ng-template #passInput>
            <mat-form-field>
              <input value = {{data.user_pass}} type="password" name="passVal" matInput [readOnly]="passReadOnly">
            </mat-form-field>
          </ng-template>
        </div>
        <div class="col-md color-secondary">
          <button *ngIf="editPassButton;else savePass" mat-button (click)="edit('pass')"> Edit </button>
          <ng-template #savePass>
            <button mat-button (click)="edit('savePass')"> Save </button>
          </ng-template>
        </div>
      </div>
      <!-- Email -->
      <div class="row py-2">
        <div class="col-md-5 my-auto">
          <span class="color-secondaryVariant " for="">Email :</span>
        </div>
        <div class="col-md my-auto">
          <span *ngIf="emailEdit;else emailInput" >{{data.ui_email}}</span>
          <ng-template #emailInput>
            <mat-form-field>
              <input value={{data.ui_email}} type="email" name="emailVal" matInput [readOnly]="EmailReadOnly">
            </mat-form-field>
          </ng-template>
        </div>
        <div class="col-md color-secondary">
          <button *ngIf="editEmailButton;else saveEmail" mat-button (click)="edit('email')"> Edit </button>
          <ng-template #saveEmail>
            <button mat-button (click)="edit('saveEmail')"> Save </button>
          </ng-template>
        </div>
      </div>
      <!-- Postion -->
      <div class="row py-2">
        <div class="col-md-5">
          <span class="color-secondaryVariant" for="">Postion :</span>
        </div>
        <div class="col-md">{{data.ui_position}}</div>
      </div>
      <!-- Department / College -->
      <div class="row">
        <div class="col-md-5">
          <span class="color-secondaryVariant" for="">College / Department :</span>
        </div>
        <div class="col-md">{{data.ui_college}}: {{data.ui_dept}}</div>
      </div>
      <!-- Birthday -->
      <div class="row py-2">
        <div class="col-md-5">
          <span class="color-secondaryVariant" for="">Birthday :</span>
        </div>
        <div class="col-md">{{data.ui_birthday}}</div>
      </div>
      <!-- Gender -->
      <div class="row py-2">
        <div class="col-md-5">
          <span class="color-secondaryVariant" for="">Gender :</span>
        </div>
        <div class="col-md">{{data.ui_gender}}</div>
      </div>
      <!-- Contact Number -->
      <div class="row py-2">
        <div class="col-md-5 my-auto">
          <span class="color-secondaryVariant " for="">Contact Number :</span>
        </div>
        <div class="col-md my-auto">
          <span *ngIf="numberEdit;else numberInput" >{{data.ui_contact_number}}</span>
          <ng-template #numberInput>
            <mat-form-field>
              <input value={{data.ui_contact_number}} type="number" name="numberVal" matInput [readOnly]="NumberReadOnly">
            </mat-form-field>
          </ng-template>
        </div>
        <div class="col-md color-secondary">
          <button *ngIf="editNumberButton;else saveNumber" mat-button (click)="edit('number')"> Edit </button>
          <ng-template #saveNumber>
            <button mat-button (click)="edit('saveNumber')"> Save </button>
          </ng-template>
        </div>
      </div>
      <div class="row py-2">
        <div class="col-md-5">
          <button mat-button color="primary" (click)="deleteAccount()"> <u>Delete Account</u> </button>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <div class="container Form-action-wrapper">
      <div class="row">
        <div class="col-md text-center">
          <button mat-button mat-dialog-close color="primary">Close</button>
          <button mat-raised-button color="primary" (click)="saveSettings()">save</button>
        </div>
      </div>
    </div>
  </mat-dialog-actions>
</div>
