<div class="dialog-section">
  <h4 mat-diaglog-title class="text-center color-accent">Account Settings</h4>

  <mat-dialog-content>

    <div class="container py-5 color-primary">
      <div class="row Profile-Picture">
        <div class="col-md text-center">
          <div class="avatar text-center">
            <span><i class="fas fa-camera" style="color:#fff;"></i></span>
          </div>
          <small> <a class="color-secondaryVariant" href="#">Change Photo</a> </small>
        </div>
      </div>
      <div class="row">
        <div class="col-md text-center py-5">
          <h5> My Profile </h5>
        </div>
      </div>
      <!-- Name -->
      <div class="row">
        <div class="col-md-5">
          <span class="color-secondaryVariant" for="">Name :</span>
        </div>
        <div class="col-md"> Jazer Kemuel Zayas</div>
        <div class="col-md color-secondary"> <a mat-button> Edit </a> </div>
      </div>
      <!-- Username -->
      <div class="row">
        <div class="col-md-5">
          <span class="color-secondaryVariant" for="">Username :</span>
        </div>
        <div class="col-md"> 2015103280</div>
      </div>
      <!-- passwword -->
      <div class="row">
        <div class="col-md-5">
          <span class="color-secondaryVariant" for="">Password :</span>
        </div>
        <div class="col-md">******</div>
        <div class="col-md color-secondary"> <a mat-button> Edit </a> </div>
      </div>
      <!-- Email -->
      <div class="row">
        <div class="col-md-5">
          <span class="color-secondaryVariant" for="">Email :</span>
        </div>
        <div class="col-md">jaz@rocketstack.net</div>
        <div class="col-md color-secondary"> <a mat-button> Edit </a> </div>
      </div>
      <!-- Postion -->
      <div class="row">
        <div class="col-md-5">
          <span class="color-secondaryVariant" for="">Postion :</span>
        </div>
        <div class="col-md">Project Leader</div>
      </div>
      <!-- Department / College -->
      <div class="row">
        <div class="col-md-5">
          <span class="color-secondaryVariant" for="">College / Department :</span>
        </div>
        <div class="col-md">CITC:Information Technology</div>
      </div>
      <!-- Birthday -->
      <div class="row">
        <div class="col-md-5">
          <span class="color-secondaryVariant" for="">Birthday :</span>
        </div>
        <div class="col-md">June 10, 1995</div>
      </div>
      <!-- Gender -->
      <div class="row">
        <div class="col-md-5">
          <span class="color-secondaryVariant" for="">Gender :</span>
        </div>
        <div class="col-md">Male</div>
      </div>
      <!-- Contact Number -->
      <div class="row">
        <div class="col-md-5">
          <span class="color-secondaryVariant" for="">Contact Number :</span>
        </div>
        <div class="col-md">(+63)9959556723</div>
        <div class="col-md color-secondary"> <a mat-button> Edit </a> </div>
      </div>
    </div>
  </mat-dialog-content>
</div>
