// CONTENT STYLE

section.container-fluid {
  padding: 15px 62px 15px 62px;
  min-height: 90%;
}

.row {
  margin: 0 -7.5px 0 -7.5px;

  div{
    padding: 0 7.5px 0 7.5px;
  }
}

// TABS style

::ng-deep .mat-tab-label {
  padding: 0px 20px !important;
  min-width: 45px !important;
}

::ng-deep .mat-tab-header {
  border: unset !important;
}

.box {
  // display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 16px !important;
  border-radius: 6px;
}

// material table style

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}
