<h4 mat-diaglog-title class="text-center color-success">SWEET ALERT (SUCCESS)!</h4>

<mat-dialog-content>
  <div class="container dialog-wrapper">
    <div class="row">
      <div class="col-md">
        <p class="text-center color-secondary">Request Sent!
        </p>
      </div>
    </div><!-- end row -->
  </div><!-- end wrapper -->
</mat-dialog-content>

<mat-dialog-actions>
  <div class="container Form-action-wrapper">
    <div class="row">
      <div class="col-md text-right">
        <button mat-button mat-dialog-close>Close</button>
      </div>
    </div>
  </div>
</mat-dialog-actions>
