// CONTENT STYLE

section.container-fluid {
  padding: 44px 62px 0 41px;
}

.row {
  margin: 0 -7.5px 0 -7.5px;

  div{
    padding: 15px 7.5px 0 7.5px;
  }
}

// CARD STYLES

mat-card.calendar.mat-card {
  min-height: 707px;
}

mat-card.dailyTask.mat-card {
  min-height: 260px;
}

mat-card.transaction.mat-card {
  min-height: 255px;
  margin-bottom: 15px;
}

mat-card.progressReport.mat-card {
  min-height: 255px;
  margin-bottom: 15px;
}

// TABS style

::ng-deep .mat-tab-label {
  padding: 0px 10px !important;
  min-width: 45px !important;
}

::ng-deep .mat-tab-header {
  border: unset !important;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
}

.box {
  background: #fff;
  height: 300px;
  width: 99%;
  margin: 1.5px;
  margin-top: 15px;
}

