<h4 mat-diaglog-title class="text-center">User Request</h4>
<mat-dialog-content>
  <div class="container dialog-wrapper py-5">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-3"><small class="color-secondaryVariant" for="">Name :</small></div>
      <div class="col-md-7"> Jazer Kemuel Zayas</div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-3"><small class="color-secondaryVariant" for="">Position :</small></div>
      <div class="col-md-7">
        <h4 class="color-accent">Project Leader</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 align-middle"><small class="color-secondaryVariant" for="">College / Department :</small></div>
      <div class="col-md">
        <small class="color-secondaryVariant">College</small> <br>
        <p>College of Information Technology and Communication</p>
        <small class="color-secondaryVariant">Department</small> <br>
        <p>Information Technology</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-3"><small class="color-secondaryVariant" for="">User ID :</small></div>
      <div class="col-md-7"> 2015103280 </div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-3"><small class="color-secondaryVariant" for="">Email :</small></div>
      <div class="col-md-7"> jaz@rocketstack.net </div>
    </div>
  </div>
  <!--End wrapper -->
</mat-dialog-content>

<mat-dialog-actions>
  <div class="container Form-action-wrapper">
    <div class="row">
      <div class="col-md text-center">
        <div>
          <!-- admin call to action -->
          <button mat-button mat-dialog-close>Delete</button>
          <button mat-raised-button color="primary">Accept</button>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-actions>
