/* You can add global styles to this file, and also import other style files */
@import "styles-variables";



html, body { height: 100%; background: #ececec; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;  }
//Custome styles

section.container-fluid {
  background: #ececec;
}