/* You can add global styles to this file, and also import other style files */
@import "styles-variables";
@import "~bootstrap/dist/css/bootstrap.css";
@import "~datatables.net-bs4/css/dataTables.bootstrap4.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "theme.scss";

// FONT import
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600');

html, body { height: 100%; }
body { margin: 0; font-family: 'Poppins', sans-serif !important;  }
//Custome styles

// section.container-fluid {
//   // background: #ececec;
// }

// Colors


.color-primary {
  color: mat-color($my-primary) !important;
}

.color-primaryVariant {
  color: mat-color($my-primaryVariant) !important;
}

.color-accent {
  color: mat-color($my-accent) !important;
}

.color-warn {
  color: mat-color($my-warn) !important;
}

.color-secondary {
  color: mat-color($my-secondary) !important;
}

.color-secondaryVariant {
  color: mat-color($my-secondaryVariant) !important;
}

//custom global css

td {
  .actions {
    width: fit-content;
    margin: 0 auto;
    
    button.mat-raised-button {
      margin-left: 15px;
    }
  }
}