<!-- DASHBOARD -->

<section class="container-fluid">
    <div class="row">
  
      <!-- we use mat-card and div -->
      <div class="col-md-8">
        <mat-card class="calendar">Calendar</mat-card>
      </div>
  
      <div class="col-md-4">
        <mat-card class="dailyTask">Daily Task</mat-card>
      </div>
  
      
    </div>
  
    <div class="row">
      <div class="col-md-6">
        <mat-card class="transaction">Transactions</mat-card>
      </div>
  
      <div class="col-md-6">
        <mat-card class="progressReport">Progress Report</mat-card>
      </div>
    </div>
  </section>
  
  <!-- will be hidden on large screens -->
      <!-- <div class="col-md-6 d-block d-lg-none"> 
          <mat-card >2</mat-card> 
      </div>
  
      <div class="col-md-6 d-block d-lg-none"> 
          <mat-card>3</mat-card>
      </div> -->