<section class="container-fluid">
  <div class="row">

    <!-- we use mat-card and div -->
    <div class="col-md-4 login-card">
      <mat-card>
        <h2 class="text-center">SIGN UP</h2>

        <div class="form-wrapper">

          <mat-form-field floatLabel="auto">
            <mat-label>School ID</mat-label>
            <input [formControl] = "username" type="text" matInput>
          </mat-form-field>

          <mat-form-field floatLabel="auto">
            <mat-label>Password</mat-label>
            <input [formControl] = "password" type="password" matInput>
          </mat-form-field>

          <mat-form-field floatLabel="auto">
            <mat-label>Confirm Password</mat-label>
            <input (keyup) = "passwordCheck()" [formControl] = "confirmP" type="password" matInput>
          </mat-form-field>

          <mat-form-field floatLabel="auto">
            <mat-label>Email</mat-label>
            <input [formControl] = "email" type="email" matInput>
          </mat-form-field>

          <mat-form-field floatLabel="auto">
            <mat-label>Department</mat-label>
            <input [formControl] = "department" type="text" matInput>
          </mat-form-field>

          <mat-form-field floatLabel="auto">
            <mat-label>College</mat-label>
            <mat-select [formControl]="collegeControl" required>
              <mat-option>--</mat-option>
              <mat-option *ngFor="let college of college" [value]="college">
                {{department.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="collegeControl.hasError('required')">Please choose a College</mat-error>
            <mat-hint>{{collegeControl.value?.detail}}</mat-hint>
          </mat-form-field>

          <div class="btn-wrapper">
            <mat-error *ngIf="!checkP">Passwords do not match</mat-error>
            <button *ngIf="checkP" (click) = "register()" mat-stroked-button class="btn-submit">Submit</button>
            <a mat-button routerLink="/login" class="btn-back">Back</a>
          </div>

        </div>
      </mat-card>
    </div>
  </div>
</section>
