<h4 mat-diaglog-title class="text-center color-Primary">For Revision</h4>

<mat-dialog-content>
  <div class="container dialog-wrapper py-5">
    <div class="row">
      <div class="col-md">
        <mat-form-field class="example-full-width">
          <textarea [(ngModel)] = "comment" rows="6" matInput placeholder="Comment"></textarea>
        </mat-form-field>
      </div>
    </div><!-- end row -->
  </div><!-- end wrapper -->
</mat-dialog-content>

<mat-dialog-actions>
  <div class="container Form-action-wrapper">
    <div class="row">
      <div class="col-md text-right">
        <button (click) = "send_comment()" mat-button mat-dialog-close>Close</button>
      </div>
    </div>
  </div>
</mat-dialog-actions>
